<% @todos.each do |todo| %>
  <div class="index_row clearfix">
    <h2 class="todo_title"><%= link_to todo.title, todo %></h2>
    <p class="todo_sub_title"><%= todo.description %></p>
  </div>

  <div class="links">
    <%= link_to "New Todo List", new_todo_path %>
  </div>
<% end %>
