<p id="notice"><%= notice %></p>

<h2 class="todo_title"><%= @todo.title %></h2>
<p class="todo_sub_title"><%= @todo.description %></p>

<div id="items_wrapper">
  <%= render @todo.items %>
  <div id="form">
    <%= render "items/form" %>
  </div>
</div>

<div class="links">
  <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <%= link_to 'Delete', todo_path(@todo), method: :delete, data: { confirm: "Are you sure?" } %> |
  <%= link_to 'Back', todos_path %>
</div>

